.box{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
.box__text{
    color: #eff9f0;
    font-size: 2vw;
    padding: 3%;
    width: 70vw;
}
.box__pic{
    margin-top: 2%;
    margin-left: 0%;
    height: 40vh;
    width: 30vw;
    border-radius: 20%;
}