.box{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
.box__text{
    color: #eff9f0;
    font-size: 2vw;
    padding: 3%;
    width: 70vw;
    text-align: left;
}
.box__pics{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 0%;
    height: 70vh;
    width: 70vw;
    border-radius: 20%;
}
.box__pics>img{
    height: 50vh;
    width: 25vw;
}
.box__bottom{
    color: #eff9f0;
    font-size: 1.5vw;
    width: 85vw;
    text-align: left;
    margin-left: 3.5%;
    margin-top: 4%;
}

@media only screen 
    
    and (min-device-width: 375px)

    and (orientation: portrait) {

    .box{
        height: 55vh;
    }
    .box__text{
        font-size: 3vw;
    }
    .box__pics{
        height: 40vh;
    }
    .box__pics>img{
        height: 30vh;
        width: 18vw;
    }
    .box__bottom{
        font-size: 2.5vw;
    }
}