input[type="submit"] {
    height: 7vh;
    width: 12vw;
    border-radius: 2%;
    font-size: 1rem;
}

input[type="submit"]:hover {
    opacity: 90%;
}

* {
    max-width: 100%;
}

@media only screen 
    
    and (min-device-width: 375px)

    and (orientation: portrait) { 
        input[type="submit"] {
            height: 6vh;
            width: 24vw;
            margin-left: 8%;
        }
    }