.background{
    height: 20vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: left;
    scroll-snap-align: start;
}
.animated__text{
    margin-top: 6%;
    margin-left: 3.25%;
}