.one{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
.one__text{
    color: #eff9f0;
    font-size: 2vw;
    padding: 3%;
    width: 70vw;
    text-align: left;
}
.one__pics{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 0%;
    height: 80vh;
    width: 80vw;
    border-radius: 20%;
}