.one{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
.one__text{
    color: #eff9f0;
    font-size: 2vw;
    padding: 3%;
    width: 70vw;
    text-align: left;
}
.chunk {
    display: flex;
    flex-direction: row;
}
.one__pics{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 0%;
    height: 60vh;
    width: 60vw;
    border-radius: 20%;
}
.one__pics>img{
    height: 60vh;
    width: 25vw;
}
.one__quote{
    margin-top: 3%;
    margin-right: 20%;
    font-size: 1.25rem;
    height: 60vh;
    width: 60vw;
    color: #eff9f0;
}