.textbox{
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
.top__text>h2{
    margin-top: 10%;
    padding-bottom: 3%;
}
.top__text{
    text-align: left;
    color: #eff9f0;
    width: 59vw;
    margin-left: 15%;
    padding-bottom: 2%;
}
.bottom__text{
    text-align: left;
    color: #eff9f0;
    width: 59vw;
    margin-left: 15%;
    padding-bottom: 2%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
        .textbox{
            height: 65vh;
            font-size: .9rem;
        } 
        .top__text{
            margin-top: 0%;
            margin-left: 20%;
        }
        .bottom__text{
            margin-left: 20%;
        }
    }