.cv_container {
    height: 25vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen 
    
    and (min-device-width: 375px)

    and (orientation: portrait) { 
        .cv_container{
            height: 75vh;
        }
        .cv_buttons{
            height: 7vh;
            width: 30vw;
        }
    }