.cvs {
    height: 70vh;
}
.cv_container {
    height: 20vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen 
    
    and (min-device-width: 375px)

    and (orientation: portrait) { 
        .cvs{
            height: 65vh;
        }
        .cv_container{
            height: 12vh;
            padding-top:2%;
        }
    }