.word__wrapper {
    height: 20vh;
    width: 100vw;
    color: #eff9f0;
    background-color: black;
    text-align: center;
    padding-top: 2%;
}
.word__wrapper>button {
    height: 10vh;
    width: 25vw;
    background-color: black;
    color: #eff9f0;
    font-size: 2.5vw;
    text-align: center;
}
.word__wrapper>h4 {
    color: #eff9f0;
    text-decoration: none;
    font-size: 2.5vw;
}